body {
    width: 100%;
    height: 100%;
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
    font-size:16px;
}


html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 5px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.jumbotron{
    background-color: #D9633F;
    color:#FFF;
    font-style: italic;
}
.home-category{
    padding:30px 5px;
    margin-bottom: 20px;
}
.home-main-row{
    margin:5px 0 5px 0;
}
.btn-bootstrap {
    background-color: #B03FD9;
    color:#FFF;
}
.btn-angularjs{
    background-color: #3F51D9;
    color:#FFF;
}

.btn-bower{
    background-color: #FFD433;
    color:#FF4C33;
}
.btn-grunt{
    background-color: #D27828;
    color:#FFF;
}
.btn-java{
    background-color: #CC1432;
    color:#FFF;
}
.btn-javascript{
    background-color: #89E3E0;
    color: #FFF;
}
.btn-assertj{
    background-color: #FDE8B6;
    color:#000;
}
.btn-books{
    background-color: #7b90b2;
    color:#FFF;
}
.bowerHeading{
    color:#169933;
    font-weight: bold;
}
.bower-command{
    background-color: #CD7967;
    color:#FFF;
    width:60%;
    border-radius: 5px;
    padding:10px;
    font-size: 20px;
}

